---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" />

<h2>In this 11ty Boilerplate we are looking into an exciting feature that was added within CSS in the new 2023 Edition</h2>

<h3><code>color-mix(in srgb, blue, white); <br>
color-mix(in srgb-linear, blue, white); <br>
color-mix(in lch, blue, white); <br>
color-mix(in oklch, blue, white); <br>
color-mix(in lab, blue, white); <br>
color-mix(in oklab, blue, white); <br>
color-mix(in xyz, blue, white);</code></h3>

<h2>
    This new function in CSS supports the mixing of two colors allowing to create a vaule.
    The color space affect the mixing as it is a clear and consistant way to transform to a color of you choosing. The example of this is "Yet Another 11ty" which uses color-mix(in oklab, blue, white); to have the text the color it is.
</h2>